.inputFilter {
  width: 200px;
  height: 35px;
  border-radius: 10px;
  border-color: blueviolet;
  margin: 0 5px;
}
.inputFilter:hover {
  border-color: orange;
}
.inputLabel {
  font-size: 18px;
  font-weight: 600;
}
.divFilter {
  margin: 0 auto;
  text-align: center;
}
