.contactInput {
  width: 200px;
  height: 35px;
  border-radius: 10px;
  border-color: blueviolet;
  margin: 0 5px;
}
.contactInput:hover {
  border-color: orange;
}
.buttonInput {
  width: 120px;
  height: 35px;
  background-color: blueviolet;
  border-radius: 10px;
  border: none;
  color: white;
}
.buttonInput:hover {
  background-color: orange;
}

.formContact {
  display: flex;
  justify-content: center;
}

.inputLabel {
  font-size: 18px;
  font-weight: 600;
}
